[SddmGreeterTheme]
Name=Everforest
Description=Everforest Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
